<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th ="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/http://thymeleaf.org/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:agroWeb="http://www.agroWeb.insightsoftware.com"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">	
	
<head>
	<title>Pesquisa de Comprador</title>
</head>
<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid"> 
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de Comprador</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize-url="compradores/novo">
				<div class="aw-page-header-controls">
						<a class="btn btn-default" th:href="@{compradores/novo}">
							<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Comprador</span>
						</a>
					</div>
				</div>
			</div>	
		</div>		
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${compradorFilter}">
 			<div class="row">
			    <div class="form-group  col-sm-8">
			     	<label class="control-label" for="nome">Nome</label>
			    	 <input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
			    </div>
			    
		    <div class="form-group  col-sm-4">
		    	 <label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
		    	 <input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpj}"/>
		    </div>
		  </div>
		   
   			<button type="submit" class="btn  btn-primary">Pesquisar</button>
 		 </form> 
  
  <div class="table-responsive  bw-tabela-simples">
	   <table class="table  table-hover">
	    	<thead>
	     	<tr>
	      		<td class="table-clientes-col-nome">
	       			<agroWeb:order page="${pagina}" field="nome" text="Nome"></agroWeb:order>
	      		</td>      
	      		<td class="table-clientes-col-tipo-pessoa">
	       			<agroWeb:order page="${pagina}" field="tipoPessoa" text="TipoPessoa"></agroWeb:order>
	      		</td>
	      		<td class="table-clientes-col-cpf-cnpj">CPF/CNPJ</td>
	      		<td class="table-clientes-col-telefone">Telefone</td>
	      		<td class="table-clientes-col-cidade-estado">Cidade/Estado</td>
	      		<td class="table-clientes-col-acoes"></td>
	     	</tr>
	    	</thead>
	    <tbody>
	   		 <tr th:each="comprador : ${pagina.content}">
	     
	    	  <td th:text="${comprador.nome}"></td>
	      	  <td class="text-center" th:text="${comprador.tipoPessoa.descricao}"></td>
	      	  <td class="text-right" th:text="${comprador.cpfOuCnpj}"></td>
	      	  <td class="text-right" th:text="${comprador.telefone}"></td>
	      	  <td class="text-right" th:text="${comprador.endereco.nomeCidadeSiglaEstado}"></td>
	       
	      	  <td class="text-center">
	       		<a class="btn  btn-link  btn-xs" title="Editar"> 
	        		<i class="glyphicon glyphicon-pencil"></i>
	       		</a>
	       		<a class="btn  btn-link  btn-xs" title="Excluir">
	        		<i class="glyphicon glyphicon-remove"></i>
	       		</a>
	      	 </td>
	     	 </tr> 
	         <tr th:if="${pagina.empty}">
	      		<td colspan="6">Nenhum comprador encontrado</td>
	     	 </tr>    
	    </tbody>
	   </table>
   </div>
  
   <div class="col-sm-12  text-center" th:if="${not pagina.empty}">
   		<nav>
    		<ul class="pagination pagination-sm" th:with="paginaAtual=${pagina.atual}">
     			<li th:class="${pagina.primeira} ? disabled">
      				<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
     			</li>
     			<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p-1}">
      				<li th:class="${paginaAtual == numeroPagina} ? active">
       					<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
      				</li>
     			</th:block>
     
    			<li th:class="${pagina.ultima} ? disabled">
      				<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
     			</li>
    		</ul>    
   		</nav>
   </div>  
     
 </div>
</section>
</body>
</head>
</html>