<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th ="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/http://thymeleaf.org/layout"
	xmlns:agroWeb="http://www.brewer.insightsoftware.com"
	xmlns:data="http://www.thymeleag.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layout/LayoutPadrao}">
<head>

<head>
	<title>Pesquisa de Cidades</title>
</head>

<body>
<section layout:fragment="conteudo" >
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de Cidades</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize-url="/cidades/nova">
					<div class="aw-page-header-controls">
						<a class="btn btn-default" th:href="@{/cidades/novo}">
							<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Cidade</span>
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${cidadeFilter}">
			<div class="row">
				<div class="form-group  col-sm-4">
					<label for="estado" class="control-label">Estado</label>
					<select id="estado" class="form-control" th:field="*{estado}" >
	                    <option value="">Selecione o estado</option>
	                    <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
	                </select>
                </div>
				
				<div class="form-group  col-sm-8">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>	
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<td class="table-cidades-col-nome">
							<agroWeb:order page="${pagina}" field="nome" text="Nome"></agroWeb:order>
						</td>						
						<td class="table-cidades-col-estado">
							<agroWeb:order page="${pagina}" field="estado" text="Estado"></agroWeb:order>
						</td>
						<th class="table-col-acoes"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cidade : ${pagina.content}">
					
						<td th:text="${cidade.nome}"></td>
						<td th:text="${cidade.estado.nome}"></td>
						<td class="text-center" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar"
								th:href="@{/cidades/{codigo}(codigo=${cidade.codigo})}"> <i class="glyphicon glyphicon-pencil"></i>
							</a> <a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir"
								data:url="@{/cidades/{codigo}(codigo=${cidade.codigo})}" data:objeto="${cidade.nome}"> <i class="glyphicon glyphicon-remove"></i>
						</a></td>						
					</tr>	
					<tr th:if="${pagina.empty}">
						<td colspan="3">Nenhuma cidade encontrada</td>
					</tr>				
				</tbody>
			</table>
		</div>
		
		<div class="col-sm-12  text-center" th:if="${not pagina.empty}">
			<nav>
				<ul class="pagination pagination-sm" th:with="paginaAtual=${pagina.atual}">
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
					</li>
					<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p-1}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
						</li>
					</th:block>
					
					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
					</li>
				</ul>				
			</nav>
		</div>		
				
	</div>	
	
</section>
</body>
</head>
</html>	