<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/http://thymeleaf.org/layout"
	xmlns:data="http://www.thymeleag.org/extras/data"
	xmlns:agroWeb="http://www.agroWeb.insightsoftware.com"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
<title>Cadastro de Dieta</title>
	<link rel="stylesheet" type="text/css"th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
	<link rel="stylesheet" type="text/css"th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}" />
	<link rel="stylesheet" type="text/css"th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}" />
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-10">
					<h1  th:if="${dieta.novo}">Cadastro de Dieta</h1>
    			<h1  th:unless="${dieta.novo}" th:text="|Edição da ${dieta.nome}|">Edição de Dieta</h1>
				</div>
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-default" th:href="@{/dietas}"> <i
							class="glyphicon glyphicon-plus-sign"></i> <span
							class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" th:object="${dieta}"
				th:action="${dieta.novo} ? @{/dietas/novo} : @{/dietas/{id}(id=${dieta.id})}">
				
				<agroWeb:message/>
				

				<div class="row">
				
				<input type="hidden" th:field="*{id}"/>
				
					<div class="form-group  col-sm-6  bw-required" agroWeb:classforerror="nome">
						<label for="nome" class="control-label">Nome da dieta</label> 
						<input id="nome" type="text" class="form-control" autofocus="autofocus" th:field="*{nome}" />
					</div>

					<div class="form-group  col-sm-6  bw-required" agroWeb:classforerror="tipo">
						<label for="tipo" class="control-label">Tipo</label> 
						<input id="tipo" type="text" class="form-control" autofocus="autofocus" th:field="*{tipo}" />
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-lg-12">
						<label for="ingredientes" class="control-label">Ingredientes</label>
						<input type="text" class="form-control  js-nome-ingrediente-input" id="ingredientes" 
							placeholder="Pesquise e adicione um ingrediente pelo nome" autofocus="autofocus" 
							data:url="@{/ingredientes}"/>
					</div>
				</div>
				
				<div class="bw-tabela-ingredientes  js-tabela-ingredientes-container">				
			
			
					<div class="bw-tabela-ingredientes__vazio">
						<i class="glyphicon  glyphicon-shopping-cart"></i> 
						<span>Você ainda não adicionou nenhum ingrediente.</span>
					</div> 
				
				</div>		
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
		
	<th:block th:replace="hbs/TemplateAutoCompleteIngrediente"></th:block>		
	</section>
</body>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javaScripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javaScripts/vendors/handlebars.min.js}"></script>	
	<script th:src="@{/javaScripts/vendors/bootstrap-switch.min.js}"></script>
	<script th:src="@{/javaScripts/dieta.autocomplete-itens.js}"></script>
	<script th:src="@{/javaScripts/dieta.tabela-itens.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>
</html>
