<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th ="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/http://thymeleaf.org/layout"
	xmlns:agroWeb="http://www.agroWeb.insightsoftware.com">	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">
	    <nav class="aw-menu  js-menu">
	    	<ul class="aw-menu__list">
		        <li class="aw-menu__item">
		          <a href="dashboard.html"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
		        </li>
		
		        <li class="aw-menu__item">
		          <a href="#">
		            <i class="fa  fa-fw  fa-truck"></i><span>Cadastro</span>
		            <i class="aw-menu__navigation-icon  fa"></i>
		          </a>
		      
		          <ul class="aw-menu__list  aw-menu__list--sublist">
		            <li class="aw-menu__item  aw-menu__item--link" agroWeb:menu="@{/usuarios}">
		            	<a th:href="@{/usuarios}">Usuarios</a>
		            </li>		          
		            <li class="aw-menu__item  aw-menu__item--link" agroWeb:menu="@{/especies}">
		            	<a th:href="@{/especies}">Especies</a>
		            </li>
		            <li class="aw-menu__item  aw-menu__item--link" agroWeb:menu="@{/ingredientes}">
		            	<a th:href="@{/ingredientes}">Ingredientes</a>
		            </li>
		             <li class="aw-menu__item  aw-menu__item--link" agroWeb:menu="@{/compradores}">
		            	<a th:href="@{/compradores}">Compradores</a>
		            </li>
		          </ul>
		        </li>
		
		        <li class="aw-menu__item">
		          <a href="#">
		            <i class="fa  fa-fw  fa-database"></i><span>Relatório</span>
		            <i class="aw-menu__navigation-icon  fa"></i>
		          </a>
		        </li>
	     	</ul>
	    </nav>
	</div>
</aside>
</body>
</html>