<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th ="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/http://thymeleaf.org/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:agroWeb="http://www.agroWeb.insightsoftware.com"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">	

<head>
	<title>Pesquisa de Especies</title>
</head>

<body>
<section layout:fragment="conteudo" >
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de Especies</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize-url="/especies/nova">
					<div class="aw-page-header-controls">
						<a class="btn btn-default" th:href="@{/especies/novo}">
							<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Especie</span>
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${especieFilter}">
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>	
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<td class="table-cidades-col-nome">
							<agroWeb:order page="${pagina}" field="nome" text="Nome"></agroWeb:order>
						</td>						
						<td class="table-clientes-col-acoes"></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="especie : ${pagina.content}">
						<td th:text="${especie.nome}"></td>
					</tr>	
					<tr th:if="${pagina.empty}">
						<td colspan="3">Nenhuma especie encontrada</td>
					</tr>				
				</tbody>
			</table>
		</div>
		
		<div class="col-sm-12  text-center" th:if="${not pagina.empty}">
			<nav>
				<ul class="pagination pagination-sm" th:with="paginaAtual=${pagina.atual}">
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
					</li>
					<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p-1}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
						</li>
					</th:block>
					
					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
					</li>
				</ul>				
			</nav>
		</div>		
				
	</div>	
	
</section>
</body>
</head>
</html>	