<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th ="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/http://thymeleaf.org/layout"
	xmlns:agroWeb="http://www.agroWeb.insightsoftware.com"		
	layout:decorate="~{layout/LayoutPadrao}">
<head>
       <title>Cadastro de Ingredientes</title>
</head>	

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="row">
			<div class="col-xs-10">
				<h1  th:if="${ingrediente.nova}">Cadastro de Doença</h1>
    			<h1  th:unless="${ingrediente.nova}" th:text="|Edição da ${ingrediente.nome}|">Edição de Doença</h1>
			</div>
			<div class="col-xs-2">
				<div class="aw-page-header-controls">
					<a class="btn bt-default" th:href="@{/ingredientes}">
						<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		
		<form method="POST" th:object="${ingrediente}"
			th:action="${ingrediente.nova} ? @{/ingredientes/novo} : @{/ingredientes/{id}(id=${ingrediente.id})}">>
		
			<agroWeb:message/>
			
			<div class="row">
			
			<input type="hidden" th:field="*{id}"/>
			
				<div class="form-group  col-sm-12  bw-required" agroWeb:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" autofocus="autofocus" th:field="*{nome}"/>
				</div>
				
			</div>
			
			<div class="row">
			
				<div class="form-group  col-sm-4  bw-required" agroWeb:classforerror="nome">
					<label for="preco" class="control-label">Preço</label>
					<input id="preco" type="text" class="form-control" autofocus="autofocus" th:field="*{preco}"/>
				</div>
				<div class="form-group  col-sm-4  bw-required" agroWeb:classforerror="nome">
					<label for="quantidade" class="control-label">Quantidade</label>
					<input id="quantidade" type="text" class="form-control" autofocus="autofocus" th:field="*{quantidade}"/>
				</div>
				
				
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
		</form>
	</div>
</section>
</body>
</html>