<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th ="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/http://thymeleaf.org/layout"
	xmlns:agroWeb="http://www.agroWeb.insightsoftware.com"	
	xmlns:data="http://www.thymeleag.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
       <title>Cadastro de Ingredientes</title>
</head>	

<section layout:fragment="conteudo">
	
	<div class="page-header">
		<div class="row">
			<div class="col-xs-10">
				<h1  th:if="${ingrediente.nova}">Cadastro de Ingrediente</h1>
    			<h1  th:unless="${ingrediente.nova}" th:text="|Edição da ${ingrediente.nome}|">Edição de Ingrediente</h1>
			</div>
			<div class="col-xs-2">
				<div class="aw-page-header-controls">
					<a class="btn bt-default" th:href="@{/ingredientes}">
						<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		
		<form method="POST" th:object="${ingrediente}"
			th:action="${ingrediente.nova} ? @{/ingredientes/novo} : @{/ingredientes/{id}(id=${ingrediente.id})}">
		
			<agroWeb:message/>
			
			<div class="row">
			
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" th:field="*{despesa.id}"/>
			
				<div class="form-group  col-sm-12  bw-required" agroWeb:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" autofocus="autofocus" th:field="*{nome}"/>
				</div>
				
			</div>
			
			<div class="row">

				<div class="col-sm-3 form-group  bw-required" agroWeb:classforerror="valorUnitario">
					<label for="valorUnitario" class="control-label">Valor Unitario</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorUnitario" type="text" class="form-control js-decimal  js-valor-unitario" th:field="*{valorUnitario}" data:valor="${valorUnitario}"/>
					</div>	
				</div>
							
				<div class="col-sm-3 form-group  bw-required" agroWeb:classforerror="*{quantidade}">
					<label for="quantidade" class="control-label">Quantidade em estoque</label>
					<input id="quantidade" type="text" class="form-control js-plain  js-quantidade" th:field="*{quantidade}" data:valor="${quantidade}"/>
				</div>		
				
				<div class="col-sm-3 form-group  bw-required" agroWeb:classforerror="valor">
					<label for="valor" class="control-label">Valor Total</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valor" type="text" class="form-control js-decimal  js-valor-total" th:field="*{valor}"/>
					</div>	
				</div>	
				
					<div class="form-group  col-sm-3">
					<label for="vencimento" class="control-label">Data de
						vencimento</label> <input type="text" class="form-control  js-date"
						id="vencimento" th:field="*{vencimento}" autocomplete="off" />
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javaScripts/ingrediente.valor-total.js}"></script>
</th:block>
</html>