<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/http://thymeleaf.org/layout"
	xmlns:data="http://www.thymeleag.org/extras/data"
	xmlns:agroWeb="http://www.agroWeb.insightsoftware.com"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
<title>Cadastro de Animal</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>

<body>
	<section layout:fragment="conteudo">
<div class="page-header">
		<div class="row">
			<div class="col-xs-10">
				<h1  th:if="${venda.nova}">Cadastro de Vendas</h1>
    			<h1  th:unless="${venda.nova}" th:text="|Edição da ${venda.nome}|">Edição de Venda</h1>
			</div>
			<div class="col-xs-2">
				<div class="aw-page-header-controls">
					<a class="btn bt-default" th:href="@{/vendas}">
						<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	

		<div class="container-fluid">

			<form method="POST" th:object="${venda}"
			th:action="${venda.nova} ? @{/vendas/novo} : @{/vendas/{codigo}(codigo=${venda.codigo})}">
		
			<agroWeb:message/>
		
				<div class="row">
				<input type="hidden" th:field="*{codigo}"/>
				
					<div class="form-group col-sm-4 bw-required" agroWeb:classforerror="nome">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control" autofocus="autofocus" th:field="*{nome}"/>
					</div>
					<div class="form-group  col-sm-4">
						<label for="dataCriacao" class="control-label">Data de Criação</label>
					    <input type="text" class="form-control  js-date" id="dataCriacao" th:field="*{dataCriacao}" autocomplete="off" />
					</div>

					<div class="col-lg-4 col-sm-4 form-group bw-required">
					<label for="status" class="control-label">Status</label> 
					<div>
						<th:block th:each="status : ${situacao}">
	  						<div class="radio radio-inline"> 
		    					<input th:id="|id_${status}|" type="radio" th:value="${status}" name="status" th:field="*{status}"/>
		    					<label th:for="|id_${status}|" th:text="${status.descricao}"></label>
	    					</div>
	    				</th:block>
					</div>
				</div>
				</div>

				<div class="row">							
				<div class="form-group  col-sm-4">
					<label for="comprador" class="control-label">Comprador</label> 
					<div class="bw-field-action">
						<select id="comprador" class="form-control" th:field="*{comprador}">
	  						<option value="">Selecione o Comprador</option>
							<option th:each="comprador: ${compradores}" th:value="${comprador.id}" th:text="${comprador.nome}"></option>
						</select>
	     			</div>
					</div>

					<div class="form-group  col-sm-4">
					<label for="animal" class="control-label">Animal</label> 
					<div class="bw-field-action">
						<select id="animal" class="form-control" th:field="*{animal}">
	  						<option value="">Selecione o Animal</option>
							<option th:each="animal: ${animais}" th:value="${animal.id}" th:text="${animal.nome}"></option>
						</select>
	     			</div>
					</div>
					
					<div class="col-sm-4 form-group  bw-required" agroWeb:classforerror="valor">
					<label for="valor" class="control-label">Valor</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valor" type="text" class="form-control js-decimal" th:field="*{valor}"/>
					</div>	
					</div>
				</div>

				
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>

	</section>
</body>
</html>
